* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root{
  --primary-color: white;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
	color: var(--primary-color);
}
body{
	line-height: 1;
	font-weight: 400;
	background-color: #2f2e2e;
	font-family: "Roboto", sans-serif;
}
header{
	padding: 1em 40em;
}
h1{
	color: var(--primary-color);
	font-size: 1.5em;
	position: absolute;
}
h2{
	color: var(--primary-color);
	font-size: 2em;
    margin-bottom: 1em;
}
main{
  display: flex;
  flex-direction: column;
}
nav{
	display: flex;
	flex-direction: row-reverse;
}
nav > ul > li {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--primary-color);
}
input{
  width: 40em;
	border-radius: 5px;
	padding: 0.5em 0.5em;
}
input:focus{
  outline: none;
}
section{
	width: 960px;
	align-self: center;
	text-align: center;
}
.countrieName{
	float: left;
	padding: 10px;
	color: #ffffff73;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
}
#list{
	display: flex;
	margin-top: 1.5em;
	flex-direction: column;
}
.search{
  width: 40em;
  display: grid;
  align-self: center;
  border-radius: 10px;
  color: var(--primary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
img{
	width: 15em;
  object-fit: contain;
  border-radius: 10px 0px 0px 0px;
}
p{
  color: black;
  line-height: 2em;
}